::-webkit-scrollbar { 
	display: none; 
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: 0;
	
}

header {
	height: 100vh;
}

section {
	background: #333;
	z-index: 10;
	position: relative;
	height: 80vh;
}


.logo {
	transform: translate(-50%, -50%);
	z-index: 2;
	position: fixed;
	left: 50%;
	top:40%;
	height: 300px;
}

.btn-circle {
	position: fixed;
	z-index 7;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	font-size: 40px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover, .btn-circle:link, .btn-circle:active, .btn-circle:visited {
	color: #BF1E2E;
}

.btn-circle::before {
	border: 10px solid #BF1E2E;
	z-index: 0;
	content: "";
	padding: 0;
	margin: 0;
	position: fixed;
	width: 80px;
	height: 80px;
	background-color: #333;
	top: -5px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 70px;
}

.btn-circle::after {
	content: "";
	z-index: -1;
	position: fixed;
	left: 50%;
	bottom: -100%;
	width: 15px;
	height: 1000000px;
	transform: translate(-50%);
	background-color: #BF1E2E;
}

.LHD, .hackAHS {
	background: url(../img/hackahs.jpg) top center;
	width: 50%;
	height: 100%;
	position: fixed;
	filter: gray;
	-webkit-filter: grayscale(1);
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	
	z-index: 0;
}

.LHD {
	background: url(../img/lhd.jpg) top center;
	left: 50%;
}

.hackAHS:hover, .LHD:hover {
	filter: none;
	-webkit-filter: grayscale(.75);
}

section h2, .LHD h2, .hackAHS h1 {
	padding-top: 50px;
	font-family: sans-serif;
	font-size: 3em;
	color: white;
	text-align: center;
}

.LHD h2, .hackAHS h1 {
	font-size: 4em;
	padding-top: 30%;
}